// Fonts
$font-primary-family: "Avenir", Helvetica, Arial, sans-serif;

// Colors
$font-primary-color: #2c3e50;
$font-secondary-color: #0f1111;
$header-background-color: #ffe600;
$background-secondary-color: #fff;
$search-bar-background-color: #f2f2f2;
$search-bar-border-color: #d8d8d8;
$border-primary-color: #d8d8d8;
$card-image-wrapper-background-color: #f8f8f8;
$button-primary-color: #ffe600;
$button-border-color: #f6dd00;

// Sizes
$page-max-width: 1200px;
