// Fonts
$font-primary-family: "Avenir", Helvetica, Arial, sans-serif;

// Colors
$font-primary-color: #2c3e50;
$background-primary-color: #000;
$background-secondary-color: #fff;
$search-bar-background-color: #f2f2f2;
$search-bar-border-color: #d8d8d8;

// Sizes
$page-max-width: 1200px;
