@import '../../App.scss';

.header {
  background-color: $background-primary-color;
  position: relative;
  width: 100%;
  min-height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem;
  }

  &__logo {
    width: 4rem;
  }
}
