@import "./styles/variables.scss";
@import "./styles/breakpoints.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-primary-family;
  color: $font-primary-color;

  &.modal-open {
    overflow: hidden;
  }
}
